
@media screen and (max-width: 630px) {
  .set-buttonAction-flex-dir {
    flex-direction: column;
  }

  .set-margin {
    margin-top: 5px;
  }
}

@media screen and (max-width: 950px) {
  .set-main-flex-dir {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .set-width {
    width: 100%;
  }

  .set-auth-width {
    width: 315px;
  }
}
